# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/release/
android/app/debug/
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Local secrets
local_run.ps1
.env
key.txt